@font-face {
  font-family: "iconfont"; /* Project id 3236055 */
  /* Color fonts */
  src: 
       url('../fonts/iconfont.woff2?t=1646897608392') format('woff2'),
       url('../fonts/iconfont.woff?t=1646897608392') format('woff'),
       url('../fonts/iconfont.ttf?t=1646897608392') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e601";
}

.icon-guanzhu1:before {
  content: "\e7b5";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-jiangpai:before {
  content: "\e613";
}

.icon-guanzhu:before {
  content: "\e61c";
}

.icon-fenxiang:before {
  content: "\e600";
}

