.map_echart {
  .icon_top {
    display: flex;
    justify-content: space-between;
    background-color: #999;
    line-height: 50px;
    padding: 0 10px;
  }
  #map_container {
    width: 350px;
    height: 350px;
  }
}
