.home {
  .header_search {
    margin-bottom: 10px;
  }
  .header_menu {
    display: flex;
    justify-content: space-between;
    .menu_item {
      width: 20%;
      text-align: center;
    }
  }
  .hot_rank {
    padding: 0 12px;
    margin-top: 16px;
    .title {
      font-size: 16px;
      font-weight: bold;
    }
    .rank_swipe {
      margin-top: 12px;
      :deep(.van-swipe-item) {
        font-size: 20px;
        text-align: center;
        border-radius: 4px;
        img {
          width: 100%;
          height: 152px;
        }
      }
    }
  }
  .hot_topic {
    .van-tabs {
      :deep(.van-tabs__line) {
        background: rgb(133, 165, 255);
      }
      :deep(.van-tabs__content) {
        padding: 0 10px;
      }
    }
  }
}
